.title-display {
    white-space: normal;
    text-align: center;
    line-height: 50px;
    padding: 20px 20px 20px 20px;
    color: white;
    transition: .4s;
}

.title-normal.title-display {
    line-height: 30px;
    padding: 15px 20px 15px 20px;
}

#title-text {
    margin:0px;
}

.mat-display-1#title-text {
    font-size: 32px;
    transition: .4s;
}

.title-normal>.mat-display-1#title-text {
    font-size: 18px;
}

md-sidenav {
    width: 200px;
    display: flex;
}


md-sidenav *:focus {
    outline: none;
}

#md-sidenav-content {
    flex: 1;
    display: column;
    border-right-style: solid;
    border-right-width: 1px;
}

#md-sidenav-content .option {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}


.option-section-header {
    padding: 10px;
    font-size: 16px;
    color: white;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
}