<div [ngClass]="{ 'title-normal': (normalTitleBar$ | async) }" class="title-display"
  color="primary" fxLayout="row">
  <div class="mat-display-1" id="title-text" [innerText]="title$ | async"></div>

  <div fxFlex fxShow="showHamburgerMenu$ | async"></div>

  <button *ngIf="showHamburgerMenu$ | async" (click)="sidenavToggleClick$.next($event)"
    md-button>
        <md-icon svgIcon="menu"></md-icon>
      </button>
</div>
<md-sidenav-container (backdropClick)="sidenavCloseRequest$.next($event)" style="flex: 1; display: flex; flex-direction: column">
  <md-sidenav fxLayout="column" [mode]='sidenavMode | async' [opened]="sidenavOpen$ | async"
    #sidenav>
    <div class="mat-typography" id="md-sidenav-content" fxLayout="column">
      <div *ngFor="let section of sections" style="margin-bottom: 20px;">
        <div class="option-section-header" [innerText]="section.title"></div>
        <div *ngFor="let sub of section.subsections" [routerLink]="sub" [ngClass]="{ 'selected': (title$ | async) === routeToTitle[sub] }"
          class="option" (click)="sidenavCloseRequest$.next($event)" [innerText]="routeToTitle[sub]"></div>
      </div>

      <div fxFlex></div>

      <div (click)="sidenavCloseRequest$.next($event)" routerLink="/" class="option option-section-header"
        fxLayout="row">
        <md-icon svgIcon="home"></md-icon>
        <div style="margin-left: 8px; margin-top:3px;">Home</div>
      </div>
    </div>
  </md-sidenav>

  <div fxFlex fxLayout="column" style="height: 100%">

    <div fxFlex fxLayout="column" style="overflow: auto;">
      <router-outlet></router-outlet>
    </div>

  </div>
</md-sidenav-container>