
html,
body,
app-root {
    width: 100%;
    height: 100%;
    margin:0px;
    display: flex;
    flex-direction: column;
    flex: 1;
}


@media only screen and (min-width: 600px) {
    app-home,
    app-example-one,
    app-example-two,
    app-example-three {
        margin: 16px;
    }
}

@media only screen and (max-width: 600px) {
    app-home,
    app-example-one,
    app-example-two,
    app-example-three {
        margin: 8px;
    }
}

.example-code>code {
    white-space: pre-wrap;
}

.example-code {
    margin-top:15px;
    padding: 5px;
    border-radius: 2%;
}