<app-example title="Multiple Conditions" tsGistId="EliCDavis/cbc5f8c3d1b483b9ff8e">
  <div example-description>
    Require a entry to be validated depending on the values of one or <b>multiple</b> other controls.
  </div>
  <div example-body [formGroup]="form" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 25px;" fxLayoutGap="20px">
    <md-slide-toggle formControlName="buyFromStarbucks">Buy From Starbucks</md-slide-toggle>
    <md-slide-toggle formControlName="likesPinable">Like Pineapple Pizza</md-slide-toggle>

    <md-input-container *ngIf="this.evilVisible$ | async">
      <input mdInput formControlName="reasonEvil" placeholder="Reason Evil">
      <md-error *ngIf="form.get('reasonEvil').hasError('required')">
        You must be evil
      </md-error>
    </md-input-container>

    <app-form-validation-status [form]="form"> </app-form-validation-status>
  </div>
</app-example>